@import 'styles/mixins.scss';

.container {
    @include container();
    .header {
        @include link();
    }
}

.main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  &:after {
      content: 'The PG';
  }
  @media (min-width: 601px) {
    &:after {
        content: 'The Public Good';
    }
  }  
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    @include toggleFlexDirection();
    & > div {
        margin: 10px;
    }
    img {
      margin-left: 0.5rem;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
}
  