@import 'styles/mixins.scss';

.main {
    min-height: calc(100vh - 100px - 8px - 8px);
    h1 {
        margin: 0 0 .75rem 0;
        font-size: calc(1.35rem + .25vw);   
        font-weight: normal;
        font-style: italic;
        letter-spacing: .75px;
        overflow-wrap: break-word;
        @media (min-width: 414px) {
            font-size: calc(1.55rem + .25vw);
        }
        @media (min-width: 601px) {
            font-size: calc(1.75rem + .25vw);        
        }
    }
}

.mode {
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    @media (min-width: 601px) {
        font-size: 1.75rem;
    }
}

.dark {
    color:rgba(var(--fg), 1);    
    &::after {
        content: "\25D0";    
    }
}

.light {
    color:rgba(var(--fg), 1);
    &::after {
        content: "\25D1";
    }
}

header {
    .title {
        margin: 0;
        font-size: 2rem;
        font-weight: 400;
        @include link();
        color: rgba(var(--fg),.9) !important;
        border-bottom: none !important;
        @media (min-width: 414px) {
            font-size: 2.5rem;
        }
        @media (min-width: 601px) {
            font-size: 4rem;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title > span:nth-child(2), .description {
        margin: -.25em 0 .5rem 0;
        font-size: 0.7rem;
        letter-spacing: .5px;
        button:focus span {
            color: rgb(var(--il));
        }
        @media (min-width: 414px) {
            margin: -.5rem 0 .5rem 0; 
            font-size: .8rem;
        }
        @media (min-width: 601px) {
            font-size: .9rem;            
        }
    }
}

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: rgba(var(--fg), .9);
    background-color: var(--bg);
    img {
      margin-left: 0.5rem;
    }
    & > a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    div:nth-child(1), div:nth-child(3) {
        font-size: .8rem;        
    }
    div:nth-child(3) {
        font-style: italic;
    }
    @include link();
    a, a:hover, a:visited, a:visited:hover {            
        color: rgb(var(--fg));
        border-bottom: 1px solid rgb(var(--fg));
    }
    @media (min-width: 601px) {
        div:nth-child(1) {
            font-size: inherit;
        }        
    }
}
  