@import 'styles/mixins.scss';

.main {
    min-height: calc(100vh - 100px - 8px - 8px);
}

.title {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
  @media (min-width: 601px) {
    font-size: 4rem;
  }  
}

.title,
.description {
  text-align: center;
}

.description {
    color: rgb(var(--d));
    margin: 0;
    line-height: 1.5;
    font-size: 1rem;
    letter-spacing: .5px;
    @media (min-width: 601px) {
        margin: 0 0 1rem 0;
        font-size: 1.25rem;
    }
}

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: rgba(var(--fg), .9);
    background-color: var(--bg);
    img {
      margin-left: 0.5rem;
    }
    & > a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    div:nth-child(1) {
        font-size: .8rem;        
    }
    @include link();
    a, a:hover, a:visited, a:visited:hover {            
        color: rgb(235 235 235);
        border-bottom: 1px solid rgb(235 235 235);
    }
    @media (min-width: 601px) {
        div:nth-child(1) {
            font-size: inherit;
        }        
    }
}
  