@import 'styles/mixins.scss';

.internalLinkBlock {
    @include card();
    border-bottom: none;
}

.related {
    @include card();
    @media (min-width: 601px) {
        margin: .75rem 0;
    }
}

.externalLink {
    line-height: 2;
    @media (min-width: 601px) {
        line-height: 1.5;
    }
}