@import 'styles/mixins.scss';

.internalLinkBlock {
    @include card();
    border-bottom: none;
}

.related {
    @include card();
    h2 {
        margin: 0;
    }
}

.externalLink {
    @include externalLink();
    line-height: 2;
}

.block {
    display: inline-block;
}