@import 'styles/mixins.scss';

.dataTable {
    dt {
        font-weight: bold;
    }
}

.big {
    font-size: 4rem;
}

.summary {
    font-size: 1.5rem;
}

.diminishingHeaders {
    font-size: 1.5rem;
    span {
        font-size:.9em; 
        margin-left:.25rem;
    }
}

.card .nestedElements {
    font-size: 1rem;
    div {
        line-height: 1.2;
        margin-left: 1.8em;
    }
}