@import 'styles/mixins.scss';

.dataTable {
    dt {
        font-weight: bold;
    }
}

.big {
    font-size: 4rem;
}

.summary {
    font-size: 1.5rem;
    font-weight: bold;
}

.diminishingHeaders {
    font-size: 1.5rem;
    span {
        font-size:.9em; 
        margin-left:.25rem;
    }
}

.card .nestedElements {
    @include unorderedList();
    font-size: 1rem;
    li {
        padding: 0 1.5rem;
        ul {
            @include unorderedList();
        }
    }
}

.fakeBtns {
    display: flex;
    button, div {
        @include button();
        font-family: Elena, 'PT Serif', serif;
        font-size: 1rem;
        max-width: 10rem;
        width: calc((100vw - 3rem)/2);
        display: flex;
        align-items: center;
        justify-content: center;
        &:nth-child(1) {
            margin-right: .5rem;
        }
    }
}