$foreground: white;
$background: #383838;
$emphasis: white;

@mixin card() {
    margin: 2rem 0;
    padding: 0;
    text-align: left;
    text-decoration: none;    
    max-width: 600px;
    @include externalLink();
    h1 {
        color: rgba($foreground, .8);
    }
    h2 {
        margin: 0 0 1rem 0;
    }
    p {
        font-size: .8rem;
        line-height: 2;
    }
    @media (min-width: 601px) {
        padding: 1rem 1.5rem;
        border: 1px solid rgba($foreground, .1);
        p {
            font-size: 1.25rem;
        }
    }
}

@mixin link() {    
    a, a:hover, a:active, a:visited {
        color: rgba($foreground, .8);
        text-decoration: none;
        border-bottom: 1px solid rgba($foreground, .6);
        padding-bottom: 2px;
    }
    a:hover {
        color: rgba($foreground, .6);
    }
}

@mixin internalLink() {
    @include link();
    a, a:hover, a:active, a:visited {
        border-bottom: 1px dashed rgba($foreground, .6);
    }
}

@mixin externalLink() {
    @include link();
}

@mixin container {
    font-family: 'Arial',Helvetica,Arial,Lucida,sans-serif;
    color: rgba($foreground, .8);
    background-color: $background;    
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    @include container();
    .header {
        @include link();
    }
}

.card {
    @include card();
    .internalLink {
        @include internalLink();
    }
}

.linkList {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        @include externalLink();
        margin: .5rem 0;
    }
}