@mixin card() {
    margin: 1rem 0;
    padding: 0;
    text-align: left;
    text-decoration: none;    
    max-width: 800px;
    @include externalLink();
    h2 {
        margin: 0 0 .75rem 0;
        font-size: 1.25rem;
        font-weight: normal;
        overflow-wrap: break-word;
        @media (min-width: 414px) {
            font-size: 1.5rem;
        }
        @media (min-width: 601px) {
            font-size: 1.85rem;
        }
    }
    h3 {
        font-size: 1.3rem;
        margin: 1.5rem 0 0 0;
        font-weight: var(--il-fw);
    }
    h4 {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 0;
    }
    h5 {
        font-size: .9rem;
    }
    h1,h2,h3,h4,h5 {
        color: rgba(var(--fg),1);
    }
    p {
        font-size: 1rem;
        line-height: 1.8;
        margin: 1.25rem 0;
    }
    div {
        line-height: 1.8;
        div {
            padding: .25rem 0;
        }
    }
    ul, p {
        &:last-child {
            margin-bottom: 1.5rem;
        }
    }
    border-bottom: 2px dashed rgb(var(--fg), 0.3);
    @media (min-width: 601px) {
        padding: 0;
        p {
            font-size: 1.25rem;
        }
    }
    .centre {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .quote {
        margin: .5rem 0 1.5rem 0;
        padding: 0 2rem;
        font-size: .8em;
        display: block;
        & div {
            margin: .5rem 0;
        }
    }
    .inset {
        padding: 0 2rem;
        margin: 0.1rem 0;
        font-size: 1rem;        
        & div {
            margin: .5rem 0;
            line-height: 1.5;
        }
        & > span {
            margin: .5rem 0;
            line-height: 1.5;
            display: block;
        }
    }
    .italic {
        font-style: italic;
    }
    .super {
        font-size: .8rem;
        vertical-align: super;
    }
    .sub {
        font-size: .8rem;
        vertical-align: sub;
    }
    .bang {
        @include internalLink();
    }
    .small {
        font-size: .9rem;
    }
    .bold {
        font-weight: var(--il-fw);
    }
    .centred {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            border: none;
        }
    }
}

@mixin link() {    
    a, a:hover, a:active, a:visited {
        color: rgb(var(--l));
        text-decoration: none;
        border-bottom: 1px solid rgb(var(--l));
        padding-bottom: 2px;
    }
    a:hover {
        color: rgba(var(--l), .8);
        border-bottom: 1px solid rgba(var(--l), .8);
    }
    a:visited {
        color: rgb(var(--l-v));
        border-bottom: 1px solid rgb(var(--l-v));
    }
    a:visited:hover {
        color: rgba(var(--l-v), .8);
        border-bottom: 1px solid rgba(var(--l-v), .8);
    }
    @media print { 
        a {
            border-bottom: none;
            color: initial;
        }
    }
}

@mixin internalLink() {
    @include link();
    a {
        color: rgb(var(--il));
        border-bottom: 1px solid rgb(var(--il));
        font-weight: var(--il-fw);
    }
    a:hover {
        color: rgba(var(--il), .8);
        border-bottom: 1px solid rgba(var(--il), .8);
    }
    a:visited {
        color: rgb(var(--il-v));
        border-bottom: 1px solid rgb(var(--il-v));
    }
    a:visited:hover {
        color: rgba(var(--il-v), .8);
        border-bottom: 1px solid rgba(var(--il-v));
    }
}

@mixin externalLink() {
    @include link();
}

@mixin container {
    font-family: 'PT Serif', serif;
    color: rgba(var(--fg),.8);
    background-color: rgb(var(--bg));
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    @include container();
    .header {
        @include link();
    }
}

.card {
    @include card();
    .internalLink {
        @include internalLink();
    }
}

@mixin unorderedList() {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        font-size: .8rem;
        @media (min-width: 601px) {
            font-size: 1rem;
        }
        @include externalLink();
        margin: .75rem 0;
        div {
            margin: .5rem 0;            
        }
        span {
            line-height: 1.8;
        }
    }
}

.unorderedList {
    @include unorderedList();
}

.externalList {
    @include externalLink();
}

.table {    
    margin: 1rem 0;    
    li {
        font-size: .9rem;
        @media (min-width: 601px) {
            font-size: 1rem;
        }
    }
    th, td {
        line-height: 1.5;
        padding: .25rem 1rem .25rem 0;
        font-size: .8rem;
        @media (min-width: 601px) {
            font-size: 1rem;
        }
    }
    th.wideOnly, td.wideOnly {
        display: none;
        @media (min-width: 601px) {
            display: table-cell;
        }
    }
}

.list {
    @include unorderedList();
    font-size: 1.1rem;
    margin-left: .5rem;
    margin-bottom: 1.5rem;
    li:before {
        content: '- ';
        margin-left: -.5rem;
    }
}

.menu {
    div {
        padding: .25rem 0;
    }
    column-count: 2;
    @media (min-width: 414px) {
        column-count: 3;
    }
    @media (min-width: 601px) {
        column-count: 4;
    }
    span {
        display: inherit;
    }
}