@mixin card() {
    margin: 2rem 0;
    padding: 0;
    text-align: left;
    text-decoration: none;    
    max-width: 800px;
    @include externalLink();
    h2 {
        margin: 0 0 1rem 0;
        font-size: 1.85rem;
        font-weight: normal;
    }
    h3 {
        font-size: 1.3rem;
        margin: 1.5rem 0 0 0;
        font-weight: var(--il-fw);
    }
    p {
        font-size: 1rem;
        line-height: 1.8;
        margin: .75rem 0;
    }
    ul, p {
        &:last-child {
            margin-bottom: 1.5rem;
        }
    }
    border-bottom: 2px dashed rgb(var(--fg), 0.3);
    @media (min-width: 601px) {
        padding: 1rem 1.5rem;
        padding: 0;
        margin: 3rem 0 1rem 0;
        p {
            font-size: 1.25rem;
        }
    }
    .centre {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@mixin link() {    
    a, a:hover, a:active, a:visited {
        color: rgb(var(--l));
        text-decoration: none;
        border-bottom: 1px solid rgb(var(--l));
        padding-bottom: 2px;
    }
    a:hover {
        color: rgba(var(--l), .8);
        border-bottom: 1px solid rgba(var(--l), .8);
    }
    a:visited {
        color: rgb(var(--l-v));
        border-bottom: 1px solid rgb(var(--l-v));
    }
    a:visited:hover {
        color: rgba(var(--l-v), .8);
        border-bottom: 1px solid rgba(var(--l-v), .8);
    }
}

@mixin internalLink() {
    @include link();
    a {
        color: rgb(var(--il));
        border-bottom: 1px solid rgb(var(--il));
        font-weight: var(--il-fw);
    }
    a:hover {
        color: rgba(var(--il), .8);
        border-bottom: 1px solid rgba(var(--il), .8);
    }
    a:visited {
        color: rgb(var(--il-v));
        border-bottom: 1px solid rgb(var(--il-v));
    }
    a:visited:hover {
        color: rgba(var(--il-v), .8);
        border-bottom: 1px solid rgba(var(--il-v));
    }
}

@mixin externalLink() {
    @include link();
}

@mixin container {
    // font-family: 'Arial',Helvetica,Arial,Lucida,sans-serif;
    font-family: 'PT Serif', serif;
    color: rgb(var(--fg));
    background-color: rgb(var(--bg));
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    @include container();
    .header {
        @include link();
    }
}

.card {
    @include card();
    .internalLink {
        @include internalLink();
    }
}

@mixin unorderedList() {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        @include externalLink();
        margin: .5rem 0;
        div {
            margin: .5rem 0;
        }
        & > span > a {
            font-size: 1.2em;
        }
    }
}

.unorderedList {
    @include unorderedList();
}

.externalList {
    @include externalLink();
}

.list {
    @include unorderedList();
    font-size: 1rem;
    margin-left: .5rem;
    li:before {
        content: '- ';
        margin-left: -.5rem;
    }
}